# Ignore Unity specific files
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/UserSettings/

# Ignore system files
.DS_Store
Thumbs.db

# Include important Unity folders (you can remove or adjust as needed)
!Assets/
!ProjectSettings/
!Packages/
